<div class="footer">

  <div class="row titles">
    <div class="col">Contacto</div>
    <div class="col">Sobre Nosotros</div>
    <div class="col">Colaboradores</div>
  </div>

  <div class="row info">
    <div class="col">contenido</div>
    <div class="col">contenido</div>
    <div class="col">contenido</div>
  </div>

  <div class="row">
    <div class="col"><img class="logo" src="../../assets/img/blango registrado.png" alt="logo"></div>
    <div class="col"><img class="social" src="../../assets/img/social.png" alt="social networks"></div>
  </div>


</div>
