<app-nav-bar></app-nav-bar>
<div class="cover">

<div class="gap row">
  <div class="col">
    <div class="row">
    <p class="little_title">EL PORTAL DE LOS AMANTES DE LA MÚSICA</p>
    </div><br><br>
    <div class="row">
    <h1 class="title">Descubre,<br><br><br>
      Encuentra,<br><br><br>
      Date a conocer</h1>
    </div>
  </div>
  <div class="col d-none d-lg-block">
   <img class="main_cartoon" src="../../assets/img/payo1_neon.png" alt="cartoon">
  </div>
</div>


<div class="gap row">
  <div class="col d-none d-lg-block">
    <img class="cartoon" src="../../assets/img/paya1_neon.png" alt="cartoon">
  </div>
  <div class="col">
    <div class="row">
      <h1 class="info_title">Descubre artistas<br><br>emergentes</h1>
      </div><br>
      <div class="row">
      <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum lobortis diam ipsum vivamus donec dolor erat amet a. Viverra semper consequat varius amet tellus. In lobortis quis neque, vestibulum. Nunc aliquet dignissim laoreet neque, consequat mi vitae. Arcu, amet, id vitae tellus varius odio cras. Vitae tempor commodo, scelerisque sed. Quis amet, pharetra bibendum senectus aliquam, congue. Vitae ac amet arcu purus, justo mauris rhoncus. </p>
      </div>
  </div>
</div>


<div class="gap row">
  <div class="col">
    <div class="row">
      <h1 class="info_title_red">Date a conocer</h1>
      </div><br>
      <div class="row">
      <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum lobortis diam ipsum vivamus donec dolor erat amet a. Viverra semper consequat varius amet tellus. In lobortis quis neque, vestibulum. Nunc aliquet dignissim laoreet neque, consequat mi vitae. Arcu, amet, id vitae tellus varius odio cras. Vitae tempor commodo, scelerisque sed. Quis amet, pharetra bibendum senectus aliquam, congue. Vitae ac amet arcu purus, justo mauris rhoncus. </p>
      </div>
  </div>
  <div class="col d-none d-lg-block">
    <img class="cartoon" src="../../assets/img/payo2_neon.png" alt="cartoon">
  </div>
</div>


<div class="gap row">
  <div class="col d-none d-lg-block">
    <img class="cartoon" src="../../assets/img/paya3_neon.png" alt="cartoon">
  </div>
  <div class="col">
    <div class="row">
      <h1 class="info_title">No te pierdas una</h1>
      </div><br>
      <div class="row">
      <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum lobortis diam ipsum vivamus donec dolor erat amet a. Viverra semper consequat varius amet tellus. In lobortis quis neque, vestibulum. Nunc aliquet dignissim laoreet neque, consequat mi vitae. Arcu, amet, id vitae tellus varius odio cras. Vitae tempor commodo, scelerisque sed. Quis amet, pharetra bibendum senectus aliquam, congue. Vitae ac amet arcu purus, justo mauris rhoncus. </p>
      </div>
  </div>
</div>

</div>
<app-footer></app-footer>
