<div class="main-box">

    <div class="row">
      <p class="title">Descubre lo que está sonando en tu zona</p>
    </div>

    <div class="row">
      <div class="col">
        <select required name="provincia" class="provincias form-control">
          <option value="">Elige una provincia</option>
          <option *ngFor="let provincia of provincias">{{provincia}}</option>

        </select>
      </div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col d-none d-lg-block">
        <img class="map" src="../../assets/img/spain_neon2.png" alt="Spain Map">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <select required name="provincia" class="provincias form-control">
          <option value="">Elige un género</option>
          <option *ngFor="let genre of genres">{{genre}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col d-none d-lg-block">
        <img class="cartoon" src="../../assets/img/paya4_neonB.png" alt="cartoon">
      </div>
    </div>

    <div class="results row">

      <div *ngFor="let artist of artists" class="col-sm-6 col-md-4">

        <a href="artist"><div class="artist-card" style="background-image: url('{{artist.picture}}'); background-size: cover;">
            <p class="card-name">{{artist.name}}</p>
          </div>
        </a>

    </div>

</div>
